body {
  background-color: aqua;
}

.wrapper {
  width: 90%;
  margin: 50px auto;
  border: 1px solid black;
  background-color: bisque;
}


.validate-wrapper {
  background-color: brown;
  color: aliceblue;
}