body {
  margin: 0;
  font-size: 16px;
}

.wrapper {
  width: 100%;
  margin: 50px auto;
  border: 1px solid black;
  background-color: bisque;
}


.text-red-600 {
  background-color: brown;
  color: #fff;
}

.marker-label {
    background-color: #02754B;
    color: #fff;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
}